.page6-container {
  display: flex;
  width: 100%;
  height: auto; /* Changed from 80vh to auto */
  box-sizing: border-box;
}

.left-section6 {
  width: 30%;
  background-color: white;
}

.right-section6 {
  width: 70%;
  background-color: #C3F1FB;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  height: fit-content; /* Make height match image */
  padding: 0; /* Remove padding to avoid extra space */
}

.frame-img {
  width: 90%;
  height: auto;
  object-fit: contain;
  margin: 0; 
  /* margin-left: 60%; */
  /* left: 20%; */
  margin-right: -0%;
}

.follow-text {
  font-size: 90px;
  font-weight: bold;
  color: #3FD1F1;
  margin: 0 auto;
  position: absolute;
  right: 110px;
  font-family: 'Cambo', serif;
}

/* Responsive */
@media (max-width: 768px) {
  .page6-container {
    flex-direction: column;
    height: auto;
  }

  .left-section6,
  .right-section6 {
    width: 100%;
  }

  .follow-text {
    font-size: 60px;
    position: static;
    text-align: center;
    margin: 20px auto;
  }

  .frame-img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
