.subscribe-section-wrapper {
    width: 100%;
    margin: 20px auto 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}



.subscribe-inner-container {
    width: 80%;
    padding: 20px 40px;
    background-color: #FEF7AB;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe-title,
.subscribe-subtitle {
    margin-bottom: 20px;
}

.subscribe-email {
    margin-top: -10px;
    font-size: 2rem;
    font-family: 'Cambo', serif;
    font-weight: 400;
    padding: 0;
}

.subscribe-email a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0;
}


.subscribe-email a:hover {
    text-decoration: underline;
    color: blue;
}
@media (max-width: 600px) {
    .subscribe-section-wrapper {
        height: 50vh;
    }

    .subscribe-inner-container {
        width: 90%;
        padding: 30px 15px;
    }

    .subscribe-title {
        font-size: 2em;
    }

    .subscribe-subtitle {
        font-size: 1.2em;
    }

    .subscribe-email {
        font-size: 1.8em;
    }
}
