.page5-container {
  display: flex;
  /* height: 0%; */
  width: 100%;
  flex-wrap: nowrap;
  /* margin-bottom: 0%; */
  padding-bottom: 0%;
  
}

.left-side5 {
  width: 30%;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.right-side5 {
  width: 70%;
  background-color: #C3F1FB;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  height: fit-content; /* Match height to content (image) */
  padding: 0; /* Remove extra padding */
}

.page5-image {
  width: 70%;
  height: auto; /* Maintain image's aspect ratio */
  object-fit: contain;
  position: relative;
  z-index: 1;
  margin: 0; /* Remove negative margins */
}


.text5 {
    font-size: 110px;
  font-weight: bold;
  position: absolute;
  right: -50px;
  z-index: 2;
  color: #3FD1F1;
  top: 50px;
  left: 600px;
  white-space: nowrap;
  pointer-events: none; 
  font-family: 'Cambo',serif;
  /* line-height: 1rem; */
  /* letter-spacing: 0.4rem; */
}

@media (max-width: 1024px) {
  .text5 {
    font-size: 80px;
    top: 60px;
    left: 50%;
    transform: translateX(-60%);
  }

  .page5-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .page5-container {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .left-side5,
  .right-side5{
    width: 100%;
    padding: 0;
    justify-content: flex-end;
  }

  .text5 {
    position: absolute;
    top: 40px;
    left: 700px;
    font-size: 48px;
    transform: none;
  }

  .page5-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .text5 {
    font-size: 36px;
    top: 30px;
    left: 20px;
  }
}
