.page16-section {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SF Pro Display", "Poppins", sans-serif;
}

.page16-content {
  display: flex;
  width: 80%;
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;
}

/******** LEFT ********/
.page16-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.page16-image {
  width: 450px;
  animation: float 3s ease-in-out infinite;
}

/******** RIGHT ********/
.page16-right {
  flex: 1;
  color: #000;
}

.page16-title {
  font-size: 8rem;
  font-weight: 400;
  font-family: 'Cambo', serif;
  line-height: 115.69px;
  color: black;
  margin-bottom: 0.2rem;
}

.page16-highlight {
  font-weight: 600;
}

.page16-subtitle {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 0;
}

.page16-to {
  font-size: 1.6rem;
  font-style: italic;
  color: #777;
  margin: 20px 0 30px;
}

/******** LIST ********/
.page16-list {
  list-style: none;
  padding: 0;
}

.page16-list li {
  display: flex;
  align-items: center;
  font-size: 1.45rem;
  margin-bottom: 18px;
  gap: 15px;
}

.tick-img {
  width: 34px;
  height: auto;
}

/******** Bubble Floating ********/
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}

/******** RESPONSIVE ********/
@media (max-width: 980px) {
  .page16-content {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  .page16-image {
    width: 300px;
  }
}

