.page8-container {
  width: 100%;
  height: 100vh;
  background-color: #ffd6cf;
  border-radius: 20px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 70px 100px 0 100px;
  box-sizing: border-box;
}

/* TEXT SECTION */

.text-block {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.subtitle {
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #000;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title-line-1,
.title-line-2 {
  line-height: 76px;
  color: #000;
}

.title-line-2 {
  text-align: right;
}

/* FONT SIZES LIKE FIGMA */
.text-7xl {
  font-size: 3.8rem;
}

.text-8xl {
  font-size: 3.5rem;
}

/* CAMBO FONT */
.cambo {
  font-family: "Cambo", serif !important;
}

/* PHONE IMAGE FULL HEIGHT */
.image-wrapper {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.phone-img {
  height: 100%;
  width: auto;
  transform: translateX(20px);
}