.page13-container {
    display: flex;
    width: 100%;
    height: fit-content;
    overflow: visible;
    background-color: rgb(54, 58, 95);
    box-sizing: border-box;
}

.page13-left-section {
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
  overflow: hidden; 
  z-index: 1;
  box-sizing: border-box;
}

.page13-left-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('./page1bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  opacity: 0.8;
  z-index: 0;
    clip-path: inset(0 0 0 0 round 10px 10px 0 0);
}

.page13-right-section {
    width: 30%;
    background-color: rgb(54, 58, 95);
    box-sizing: border-box;
}

.page13-image-wrapper {
    position: relative;
    display: flex;
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 0%;
    width: 100%;
    justify-content: flex-start;
    overflow: hidden;
}

.page13-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    margin-top: 0%;
    margin-left: 0%;
}

.page13-plan-text {
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 85px;
    font-weight: 500;
    color: #7488A8;
    z-index: 2;
    white-space: nowrap;
    font-family: 'Cambo', serif;
    letter-spacing: 1.5px;
}

@media (max-width: 1024px) {
    .page13-plan-text {
        font-size: 70px;
        right: -40px;
    }

    .page13-image {
        max-height: 70vh;
    }
}

@media (max-width: 768px) {
    .page13-container {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .page13-left-section,
    .page13-right-section {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .page13-left-section {
        padding: 20px;
        justify-content: center;
        background-position: top;
    }

    .page13-plan-text {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 48px;
        transform: none;
    }

    .page13-image {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .page13-plan-text {
        font-size: 36px;
        right: 10px;
        top: 10px;
    }
}
  