.full-page-container {
  padding-top: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  
}

.half-page-banner {
  position: relative;
  height: 70vh;
  width: 100%;
  background-color: #CFF9FC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding: 20px;
  overflow: hidden;
  z-index: 1;
}

.half-page-banner::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('./assets/bg3.png');
  background-size: 100%;
  background-position: center;
  filter: blur(2.2px);
  opacity: 0.4;
  z-index: 0;
  margin-top: 0%;
}

.content-overlay {
  color: #000;
  text-align: center;
  padding: 20px;
  z-index: 2;
  margin-top: -5%;
}

.content-overlay h1 {
  font-size: 5rem;
  font-weight: normal;
  color: #000;
  font-family: 'SF Pro';
}

.content-overlay h1 strong {
  font-weight: bold;
  color: #000;
  font-family: 'SF Pro';
}

.content-overlay p {
  font-size: 1.9rem;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
  font-family: 'SF Pro';
  line-height: 32px;
}

.centered-image {
  width: 70%;
  max-width: 700px;
  margin-top: 30px;
  z-index: 2;
}

.bottom-half-white {
  height: auto;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}

.bottom-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.overlay-wrapper {
  position: relative;
  width: 100%;
}

.laptop-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 700px;
  z-index: 2;
  pointer-events: none;
  height: 79vh;
}

@media screen and (max-width: 768px) {
  .half-page-banner {
    height: auto;
    padding: 40px 15px;
  }

  .content-overlay {
    margin-top: 0;
    padding: 10px;
  }

  .content-overlay h1 {
    font-size: 2rem;
  }

  .content-overlay p {
    font-size: 1rem;
  }

  .centered-image {
    width: 90%;
    margin-top: 20px;
  }

  .laptop-overlay {
    top: 45%;
    width: 90%;
    height: auto;
  }
}


